<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tp.Integration.Ide.VisualStudio.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </configSections>
    <microsoft.web.services3>
        <security>
            <timeToleranceInSeconds value="86400"/>
        </security>
    </microsoft.web.services3>
    <userSettings>
        <Tp.Integration.Ide.VisualStudio.Settings>
            <setting name="Uri" serializeAs="String">
                <value />
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="UseWindowsLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRefresh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRefreshInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StopTrackingOnVisualStudioClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StopTrackingOnUserIdle" serializeAs="String">
                <value>True</value>
            </setting>
        </Tp.Integration.Ide.VisualStudio.Settings>
    </userSettings>
</configuration>